body{
    position: relative;
    width: 100%;
    height: 1010px;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
}
div#cont {
    position: relative;
    margin: auto;
    width: 700px;
    height: 700px;
    margin-top: 53px;
    }
.main {
    /* animation-play-state: running; */
    position: absolute;
    top: 37%;
    left: 41%;
    /* animation-name: crached; */
    /* animation-timing-function: ease-in-out; */
    /* animation-duration: 3s; */
    /* animation-delay: 1s; */
    /* animation-fill-mode: forwards; */
}
.topl {
    position: absolute;
    top: 0%;
    left: 40%;
    animation-name: tl;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.topr {
    right: -16%;
    position: absolute;
    top: 36%;
    /* left: 0; */
    /* display: none; */
    animation-name: tr;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.botl {
    position: absolute;
    top: 36%;
    left: 0;
    /* display: none; */
    animation-name: tl;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 4.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.botr {
    position: absolute;
    bottom: 0;
    left: 40%;
    /* display: none; */
    animation-name: br;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 6s;
    opacity: 0;
    animation-fill-mode: forwards;
}
/* @keyframes crached{
    0%{
        display: inline-block;
        transform:none;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: scale(12,12);
        opacity: 0;
        display: none;
    }

} */

@keyframes tl{
  0%{
/* display: none; */
transform:scale(7,7);
opacity: 0;
  }
  50%{
      opacity: .5;
  }
  100%{
      transform: none;
      opacity: 1;
      /* display: inline; */
  }

}
@keyframes bl{
0%{
/* display: none; */
transform:scale(7,7);
opacity: 0;
}
50%{
    opacity: .5;
}
100%{
    transform: none;
    opacity: 1;
    /* display: inline; */
}

}
@keyframes tr{
0%{
/* display: none; */
transform:scale(7,7);
opacity: 0;
}
50%{
    opacity: .5;
}
100%{
    transform: none;
    opacity: 1;
    /* display: inline; */
}

}
@keyframes br{
0%{
/* display: none; */
    transform:scale(7,7);
    opacity: 0;
}
50%{
    opacity: .5;
}
100%{
    transform: none;
    opacity: 1;
    /* display: inline; */
}

}
.flip-box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    /* border: 1px solid #F1F1F1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
  }
div#israa{
    margin-top: 12px;
    margin-left: 416px;}
div#Raghad {
    /* margin-top: -244px; */
    margin-bottom: 525px;
    margin-right: -191px;}
div#Yousef {
    margin-left: -145px;
    margin-top: -250px;}
div#Omar {
    margin-left: -639px;
    margin-bottom: 248px;
}
 p{
    margin-top: 10px;
    font-family: 'Righteous', cursive;
    padding: 3px;
    padding-left: 2px;
}
h3{
    padding: 5px;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Righteous', cursive;

}
h2{
    font-family: 'Righteous', cursive;
}
img {
    border-radius: 50%;
   
  }
  

  /* header CSS */
header{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);;
    color: white;
    padding: 8px;
    position: sticky;
    font-family: 'Righteous', cursive;

}
h1{
    font-family: 'Righteous', cursive;
    font-size:36px;
    font-weight: bold;
    margin-left: 91px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 ul{
    margin-left: 336px;
    margin-top: -42px;
    margin-bottom: 20px;
    margin-left: 999px;}
ul li {
    display: inline;
    padding: 23px;
    color:white;
}

.hover-a a:hover{
font-size: 20px;

}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
	}

	* {box-sizing:border-box}
a{
	color: white;
	text-decoration: none;
	transition: font-size 1s;
}
.logo{
    float: left;
    width: 93px;
    margin-top: -85px;
    margin-left: -2px;
}




/* footer css */
footer {
  width : 100%;
  position: absolute;
  bottom: 0;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Signika', sans-serif;
  margin-bottom: -194px;
  /* background-color: #343839; */
}

.lastSection{
  position: relative ;
  padding: 20px 0px ;
  background-color: rgba(0, 0, 0, 0.9);
  height: 158px;
  border-block-end: 1px solid white;
  margin-top: 30px;
  color: white;
  margin-bottom: -126px;    }

.footLogo{
  float: left;
  width: 74px;
  position: absolute;
  left: 1px;
  top: 28px;
  }

.bottomlogo{
  float: left;
  width: 75px;
  position: absolute;
  left: 1px;
  top: 23px;
  font-size: 20px;
  }
footer h2{
  font-family: 'Righteous', cursive;
  left: 19ps;
  padding-left: 70px;
  padding-top: 52px;
  font-size: 20px;
}
.aboutAs{
position: absolute ;
top : 20%;
left: 22%;
text-align: center ;
font-size: 12px;
}
.contact{
position: absolute ;
top : 20%;
left: 50%;
text-align: center ;
font-size: 12px;
}

.socialMedia{
position: absolute ;
top: 20%;
left : 80%;
text-align: center ;
font-size: 12px;
}

h5 {
  font-size: 20px;
  padding-bottom: 15px;}

.tail {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.tail ol li {
  display: inline;
  padding-left: 24%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  text-align: center;
}

ol li a{
  color: white;
} 
.black{
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: -1px;    padding-bottom: 11px;
  margin-top: 124px;
  padding-top: 12px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  width: 20px;
  height: 15px;
  font-size: 19px;
  margin: 2px;
  padding: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
 
  color: white;
  padding: 6px;
  transition: font-size 1s;

}

.fa-twitter {

  color: white;
  padding: 6px;
  transition: font-size 1s;

}

.fa-google {
 
  color: white;
  padding: 6px;
  transition: font-size 1s;

}

ol li {
padding: 6px;
display: inline;

}
a  {
transition: font-size 1s;

}
ol{
padding-top: 18px;
}
.hover-foot a:hover{
font-size: 20px;
text-decoration: none;
color: white;
}

