/* header CSS  */
header{
  display: block;
  background-color: rgba(0, 0, 0, 0.4);;
  color: white;
  padding: 8px;
  position: sticky;
  font-family: 'Righteous', cursive;
}
h1{
  font-family: 'Righteous', cursive;
  font-size:36px;
  font-weight: bold;
  margin-left: 91px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header ul{
  margin-left: 336px;
  margin-top: -42px;
  margin-bottom: 20px;
  margin-left: 907px;}
ul li {
  display: inline;
  padding: 23px;
  color:white;
}
.hover-a a:hover{
font-size: 20px;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
  }
  * {box-sizing:border-box}
a{
  color: white;
  text-decoration: none;
  transition: font-size 1s;
}
.logo{
  float: left;
  width: 93px;
  margin-top: -85px;
  margin-left: -2px;
}
body{
    /* background-image: url('https://c4.wallpaperflare.com/wallpaper/542/50/545/simple-background-blue-simple-minimalism-wallpaper-preview.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1500%;
    position: relative;
}
main{
    margin: 200px auto;
}
table {
    border-collapse: collapse;
    margin: 200px auto;
    width: 800px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: x-large;
    font-weight: bolder;
  }
  
  tr:hover {background-color: #645b6554;
  }
  td img {
    width: 100px;
    height: 80px;
  }
/* footer css */
footer {
  width : 100%;
  position: absolute;
  bottom: 0;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Signika', sans-serif;
  margin-bottom: -400px;
}
.lastSection{
  position: relative ;
  padding: 20px 0px ;
  background-color: rgb(31, 27, 27);
  height: 158px;
  border-block-end: 1px solid white;
  margin-top: 30px;
  color: white;
  margin-bottom: -126px;    }
.footLogo{
  float: left;
  width: 74px;
  position: absolute;
  left: 1px;
  top: 28px;
  }
.bottomlogo{
  float: left;
  width: 75px;
  position: absolute;
  left: 1px;
  top: 23px;
  font-size: 20px;
  }
footer h2{
  font-family: 'Righteous', cursive;
  left: 19ps;
  padding-left: 70px;
  padding-top: 52px;
  font-size: 20px;
}
.aboutAs{
position: absolute ;
top : 20%;
left: 22%;
text-align: center ;
font-size: 12px;
}
.contact{
position: absolute ;
top: 31%;
left: 55%;
text-align: center ;
font-size: 12px;
}
.socialMedia{
position: absolute ;
top: 20%;
left : 80%;
text-align: center ;
font-size: 12px;
}
h5 {
  font-size: 20px;
  padding-bottom: 15px;}
.tail {
  background-color: rgb(31, 27, 27);
  width: 100%;
}
.tail ol li {
  /* display: inline; */
  padding-left: 24%;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* width: 100%; */
  text-align: center;
}
ol li a{
  color: white;
} 
.black{
  background-color: rgb(31, 27, 27);
  margin-bottom: 0px;
  padding-bottom: 18px;
  margin-top: 125px;
  padding-top: 25px;
}
footer ul {
  margin-left: 336px;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 15px;
}
 .ul-foot-contact li {
  display: block;
  padding: 7px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  width: 20px;
  height: 15px;
  font-size: 19px;
  margin: 2px;
  padding: 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
 
  color: white;
  padding: 6px;
  transition: font-size 1s;
}
.fa-twitter {
  color: white;
  padding: 6px;
  transition: font-size 1s;
}
.fa-google {
 
  color: white;
  padding: 6px;
  transition: font-size 1s;
}
ol li {
padding: 6px;
display: inline;
}
a  {
transition: font-size 1s;
}
ol{
padding-top: 18px;
}
.hover-foot a:hover{
font-size: 20px;
text-decoration: none;
color: white;
}
.car-background{
  width: 100%;
  height: 744px;
}
.cars-logo{
  display: inline;
  padding: 157px;
}
main{
  font-family: 'Satisfy', cursive;
}