


header{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);;
    color: white;
    padding: 8px;
    position: sticky;
}
h1{
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Righteous', cursive;
    /* font-family: 'Changa', sans-serif; */
    font-size:36px;
    font-weight: bold;
    margin-left: 91px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 ul{
    margin-left: 336px;
    margin-top: -42px;
    margin-bottom: 20px;
    margin-left: 999px;}
ul li {
    display: inline;
    padding: 23px;
    color:white;
}


.hover-a a:hover{
font-size: 20px;

}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
	}

	* {box-sizing:border-box}
a{
	color: white;
	text-decoration: none;
	transition: font-size 1s;
}


.logo{
    float: left;
    width: 93px;
    margin-top: -85px;
    margin-left: -2px;
}




/* footer css */
footer {
    width : 100%;
    position: absolute;
    bottom: 0;

}

.lastSection{
    position: relative ;
    padding: 20px 0px ;
    background-color: black;
    height: 158px;
    border-block-end: 1px solid white;
    margin-top: 30px;
    color: white;
    }

.footLogo{
    float: left;
    width: 74px;
    position: absolute;
    left: 1px;
    top: 28px;
        }

 .bottomlogo{
    float: left;
    width: 75px;
    position: absolute;
    left: 1px;
    top: 23px;
    font-size: 20px;

        }
h2{
    font-family: 'Righteous', cursive;
    left: 19ps;
    padding-left: 70px;
    padding-top: 52px;
    font-size: 20px;
}
.aboutAs{
position: absolute ;
top : 20%;
left: 22%;
text-align: center ;
font-size: 12px;
}

.contact{
position: absolute ;
top : 20%;
left: 50%;
text-align: center ;
font-size: 12px;
}

.socialMedia{
position: absolute ;
top : 20%;
left : 80%;
text-align: center ;
font-size: 12px;
}

h5 {
    font-size: 20px;
    padding-bottom: 18px;
}

.tail {
    background-color: black;
    width: 100%;
  }
  
  .tail ol li {
  display: inline ;
  padding-left: 17%;
  color: white;
  background-color: black;
  }
  
  ol li a{
    color: white;
  } 
  .black{
    background-color: black;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width: 20px;
    height: 15px;
    font-size: 19px;
    margin: 2px;
    padding: 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
   
    color: white;
    padding: 6px;
  }
  
  .fa-twitter {
 
    color: white;
    padding: 6px;
  }
  
  .fa-google {
   
    color: white;
    padding: 6px;
  }
  