

body{
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    position: relative;
    height:1000px;
  
}
header{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);;
    color: white;
    padding: 8px;
    position: sticky;
}
h1{
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Righteous', cursive;
    /* font-family: 'Changa', sans-serif; */
    font-size:36px;
    font-weight: bold;
    margin-left: 91px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 ul{
    margin-left: 336px;
    margin-top: -42px;
    margin-bottom: 20px;
    margin-left: 999px;}
ul li {
    display: inline;
    padding: 23px;
    color:white;
}


.hover-a a:hover{
font-size: 20px;

}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
		/* Preserve aspet ratio */
		min-width: 100%;
		min-height: 100%;
	}

	* {box-sizing:border-box}
a{
	color: white;
	text-decoration: none;
	transition: font-size 1s;
}
p {
    margin-left: 70px;
    margin-top: 90px;
    font-size: 27px;
    font-family: 'Work Sans', sans-serif;
    color: white;

}

.logo{
    float: left;
    width: 93px;
    margin-top: -85px;
    margin-left: -2px;
}




