

body{
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    position: relative;
    height:1000px;
}

p{
    margin-left: 70px;
    margin-top: 90px;
    font-size: 27px;
    font-family: 'Work Sans', sans-serif;
    color: white;

}


