/* @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Lemonada|Special+Elite|Viaoda+Libre&display=swap');
body{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 1500px;
}
main {
  height: 941px;
}
h3{
  color: white;
  font-family: cursive;
  padding-left: 50px;
  padding-top: 52px;
  font-size: 30px;
  text-align: center;
  margin-left: 0px;
}
/* neon part  */
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
.motto {
 width: 431px;
 height: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Codystar';
}
.neons {
 margin-top: 10rem;
 text-align: center;
}
.neons h3 {
font-size: 25px;
text-align: center;
 font-weight: bold;
-webkit-animation: glow 2s ease-in-out infinite alternate;
-moz-animation: glow 2s ease-in-out infinite alternate;
animation: glow 2s ease-in-out infinite alternate;
}

/* form Area */
.store-bg {
  height: 700px;
  position: relative;
  width: 30%;
  float: right;
  margin-top: -26px;}
.buttonMi{
  background-color: #9FAF7E;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  margin: 100px 50px 3px 50px;
  border-radius: 65%;  color: black;
  clear: both;
  padding: 4px 17px;
  max-width: 350px;
  z-index: 9999;
  float: right;
  transition: all 0.5s ease-in-out;
  outline: none;
  position: relative;
}
.buttonpluse {
  background-color: #f19b06cc;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  margin: 100px 50px 3px 50px;
  border-radius: 65%;  color: black;
  clear: both;
  padding: 4px 17px;
  max-width: 350px;
  z-index: 9999;
  float: right;
  transition: all 0.5s ease-in-out;
  outline: none;
  position: relative;
  }
.buttonpluse:hover{
  color: white;
  cursor: pointer;
  background-color: #dcad5bcc;
}
.buttonMi:hover{
  background-color: #9FAF7E;
  color: white;
  cursor: pointer;
}
#saleForm{
  clear: both;
  padding: 20px 26px;
  margin-right: 100px;
  max-width: 350px;
  z-index: 9999;
  float: right;
  position: relative;
  background-color: #ecc46bc9;  margin-top: -52px;
  border-radius: 40px
  }
#saleForm label {
  color: #fff;
  display: block;
  margin: 20px 0 10px;
  font-size: 20px;
  /* font-family: sans-serif; */
  font-family: 'Bitter', serif;
  /* font-family: 'Satisfy', cursive; */
  letter-spacing: 0.4px;
  }
#saleForm input , #saleForm select {
  padding: 8px 20px;
  width: 300px;
  font-family: 'Bitter', serif;
  }
#saleForm select{
  height: 36px;
  width: 344px;
  }
.submitButton{
  background-color: #98A16D;
  padding: 10px 36px;
  margin: 18px 80px;
  float: right;
  box-shadow: -1px -1px 8px #80423D;
  color: #fff;
  font-size: 18px;
  /* font-family: sans-serif; */
  font-family: 'Bitter', serif;
  border: 1px solid #80423D;
  letter-spacing: -0.7px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  }
/*  */
/* item list area */
li img {
  height: 195px;
  margin-bottom: 29px;
  width: 213px;
  cursor: pointer;
  padding-left: 0;
}
 img:hover{
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.items-list h3{
  margin: 0 151px 42px -399px; }
  .items-list {
    color: #504E4E;
    float: left;
    display: inline-block;
    width: 57%;
    z-index: 999;
    /* background-color: #916a6a57; */
    padding: 0px;
    border-radius: 22px;
    margin-top: 77px;
}
  #items button {
    background: #E8AD46;
    padding: 10px 20px;
    border: 0;
    color: #504E4E;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 750;
    cursor: pointer;
}
#items li {
  padding: 3px 23px;
  font-size: 17px;
  color: #CFD49B;
  display: inline-block;
  margin-top: 50px;
  position: relative;
  clear: right;
  float: left;
  background-color: #9694754f;
}
h3{
  font-size: 45px;
  color:#171513cc;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  font-weight: bold;
}
h3:hover{
  font-size: 50px;
}
  p.price {
    color: #CFD49B;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
  #items .item-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}
  .content-image {
    text-align: center;
    font-family: sans-serif;
}
#items {
  padding: 10px 0px;
  list-style-type: circle;
  text-align: left;
  padding: 15px 53px;
  margin-left: -72px;  width: 1000px;
  }
 
ol li {
  display: block;
  padding: 0px;
  }
    
button:hover{
  
  background-color: #C95353;
  border: 1px solid #1B2B2A;
  color: white;
  }
 
 
  /* header CSS */
header{
  display: block;
  background-color: rgba(0, 0, 0, 0.4);;
  color: white;
  padding: 8px;
  position: sticky;
  font-family: 'Righteous', cursive;
}
h1{
  font-family: 'Righteous', cursive;
  font-size:36px;
  font-weight: bold;
  margin-left: 91px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header ul{
  margin-left: 336px;
  margin-top: -42px;
  margin-bottom: 20px;
  margin-left: 907px;}
ul li {
  display: inline;
  padding: 23px;
  color:white;
}
.hover-a a:hover{
font-size: 20px;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
* {box-sizing:border-box}
a{
color: white;
text-decoration: none;
transition: font-size 1s;
}
.logo{
  float: left;
  width: 93px;
  margin-top: -85px;
  margin-left: -2px;
}
/* footer css */
footer {
width : 100%;
position: absolute;
bottom: 0;
/* font-family: 'Righteous', cursive; */
font-family: 'Signika', sans-serif;
    margin-bottom: -205px;
/* background-color: #343839; */
}
.lastSection{
position: relative ;
padding: 20px 0px ;
background-color: rgb(31, 27, 27);
height: 158px;
border-block-end: 1px solid white;
margin-top: 30px;
color: white;
margin-bottom: -126px;    }
.footLogo{
float: left;
width: 74px;
position: absolute;
left: 1px;
top: 28px;
}
.bottomlogo{
float: left;
width: 75px;
position: absolute;
left: 1px;
top: 23px;
font-size: 20px;
}
footer h2{
font-family: 'Righteous', cursive;
left: 19ps;
padding-left: 70px;
padding-top: 52px;
font-size: 20px;
}
.aboutAs{
position: absolute ;
top : 20%;
left: 22%;
text-align: center ;
font-size: 12px;
}
.contact {
  position: absolute;
  top: 52%;
  left: -11%;
  text-align: center;
  font-size: 12px;
}
.socialMedia{
position: absolute ;
top: 20%;
left : 80%;
text-align: center ;
font-size: 12px;
}
h5 {
font-size: 20px;
padding-bottom: 15px;}
.tail {
background-color: rgb(31, 27, 27);
width: 100%;
}
.tail ol li {
display: inline;
padding-left: 24%;
color: white;
/* background-color: rgba(0, 0, 0, 0.5); */
/* width: 100%; */
text-align: center;
}
ol li a{
color: white;
} 
.black{
background-color: rgb(31, 27, 27);
margin-bottom: -1px;    padding-bottom: 11px;
margin-top: 124px;
padding-top: 25px;
}
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
width: 20px;
height: 15px;
font-size: 19px;
margin: 2px;
padding: 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
color: white;
padding: 6px;
transition: font-size 1s;
}
.fa-twitter {
color: white;
padding: 6px;
transition: font-size 1s;
}
.fa-google {
color: white;
padding: 6px;
transition: font-size 1s;
}
ol li {
padding: 6px;
display: inline;
}
a  {
transition: font-size 1s;
}
ol{
padding-top: 18px;
}
 .hover-foot a:hover{
font-size: 20px;
text-decoration: none;
color: white;
}
.ul-foot-contact li {
  display: block;
  padding: 7px;
}
/* CALL button */
#callme {
  /* position: fixed; */
  right: 50px;
  bottom: 100px;
  width: 176px;  height: 64px;
  cursor: pointer;
  opacity: 1;
  z-index: 99990;
}
#callme #callmeMain {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(207,8,8);
  width: 70px;
  height: 70px;
  -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
  -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
  animation: zcwmini2 1.5s 0s ease-out infinite;
}
#callme #callmeMain:before {
  content: "";
  position: absolute;
  width: 12%;
  height: 67%;
  top: 189px;
  left: 203px;
  background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: zcwphone2 1.5s linear infinite;
  -moz-animation: zcwphone2 1.5s linear infinite;
  animation: zcwphone2 1.5s linear infinite;
}
@-webkit-keyframes zcwphone {
  0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
  50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
  100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-moz-keyframes zcwphone {
  0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
  50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
  100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes zcwphone {
  0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
  50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
  100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
